<mat-toolbar class="navbar" [ngClass]="{'scrolled': isScrolled}">
  <div class="logo">Aarambh</div>
  <div class="nav-links" [class.hidden]="!isMenuOpen">
    <a (click)="scrollToSection('products')">Products</a>
    <!-- <a (click)="scrollToSection('home')">Developers</a> -->
    <a (click)="scrollToSection('features')">Blogs</a>
    <a (click)="scrollToSection('contact-section')">Contact</a>
  </div>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</mat-toolbar>